####### managed by puppet #######

LogFile=<%= @logfile %>
LogFileSize=<%= @logfilesize %>
DebugLevel=<%= @debuglevel %>

EnableRemoteCommands=1
LogRemoteCommands=1

Server=<%= @server %>
ServerActive=<%= @serveractive %>
ListenPort=<%= @listenport %>
Hostname=<%= @hostname %>

Include=c:/programdata/zabbix/zabbix_agentd.d
